<html>
<head>
  <meta charset="utf-8">
  <title>Chào mừng đến với ứng dụng của chúng tôi!</title>
</head>
<body>
  <h1>Xin chào {{name}}!</h1>
  <p>Chúng tôi rất vui khi bạn đã tham gia cùng chúng tôi.</p>
  <p>Hãy khám phá tất cả các tính năng mà ứng dụng của chúng tôi cung cấp.</p>
  <p>Nếu có bất kỳ thắc mắc nào, đừng ngần ngại liên hệ với chúng tôi.</p>
  <p>Nhi chim hôi rất may mắn khi yêu được bạn</p>
  <p>Trân trọng,</p>
  <p>Đội ngũ hỗ trợ</p>
  <footer>
    <p>&copy; } Your App Name. Tất cả các quyền được bảo lưu.</p>
  </footer>
</body>
</html>